<p style="border:none"><br></p>
<p align="center" style="border:none; text-align:center"><span style="font-size:10pt"><span
            style="font-family:Calibri,sans-serif"><b><u><span style="font-size:12.0pt"><span
                            style="font-family:&quot;Arial&quot;,sans-serif"><span style="color:black">ATESTADO DE
                                DOCÊNCIA</span></span></span></u></b></span></span></p>
<p style="border:none"><br></p>
<p style="text-align:justify"><span style="font-size:10pt"><span style="font-family:Calibri,sans-serif"><span
                style="font-size:12.0pt"><span style="font-family:&quot;Arial&quot;,sans-serif">Atestamos, para os
                    devidos fins, que </span></span></span></span><strong><span
            style="font-family:Arial,Helvetica,sans-serif;">{{teacherName}}</span></strong><span
        style="font-size:10pt"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt"><span
                    style="font-family:&quot;Arial&quot;,sans-serif"><b>, </b></span></span></span></span><strong><span
            style="font-family:Arial,Helvetica,sans-serif;">{{teacherSiape}}</span></strong><span style="font-size:10pt"><span
            style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt"><span
                    style="font-family:&quot;Arial&quot;,sans-serif">, exerce suas atividades como professor de Ensino
                    Básico, Técnico e Tecnológico no Instituto Federal Sul-Rio-Grandense câmpus Charqueadas tendo
                    ministrado nos semestres letivos de {{periods}} as seguintes
                    disciplinas:</span></span></span></span></p>
<p style="border:none; text-align:justify"><br></p>
{{periodsTables}}
<p style="text-align:justify"><br></p>
<p style="text-align:justify"><span style="font-size:10pt"><span style="line-height:115%"><span
                style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt"><span
                        style="line-height:115%"><span style="font-family:&quot;Arial&quot;,sans-serif">Atestamos que
                            nos períodos de {{periods}} esteve presente em reuniões docentes, com
                            carga horária de 02 horas-aula (ou 1h30min).</span></span></span></span></span></span></p>
<p style="text-align:justify"><br></p>
<p style="text-align:justify"><br></p>
<p align="right" style="text-align:right"><span style="font-size:10pt"><span style="line-height:115%"><span
                style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt"><span
                        style="line-height:115%"><span style="font-family:&quot;Arial&quot;,sans-serif">{{city}}, {{day}} de {{month}} de {{year}}.</span></span></span></span></span></span></p>
<p style="border:none; text-align:justify"><br></p>
<p align="center" style="border:none; text-align:center"><span style="font-size:10pt"><span
            style="line-height:115%"><span style="font-family:Calibri,sans-serif"><span style="font-size:12.0pt"><span
                        style="line-height:115%"><span style="font-family:&quot;Arial&quot;,sans-serif"><span
                                style="color:black">_________________________________________</span></span></span></span></span></span></span>
</p>
<p align="center" style="border:none; text-align:center"><span style="font-size:10pt"><span
            style="line-height:115%"><span style="font-family:Calibri,sans-serif"><span style="font-size:9.0pt"><span
                        style="line-height:115%"><span style="font-family:&quot;Arial&quot;,sans-serif"><span
                                style="color:black">{{depex}}</span></span></span></span></span></span></span></p>
<p align="center" style="border:none; text-align:center"><span style="font-size:10pt"><span
            style="line-height:115%"><span style="font-family:Calibri,sans-serif"><span style="font-size:9.0pt"><span
                        style="line-height:115%"><span style="font-family:&quot;Arial&quot;,sans-serif"><span
                                style="color:black">Chefe do Departamento de Ensino, Pesquisa e
                                Extensão</span></span></span></span></span></span></span></p>