<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerador de Atestado de Docência - IFSUL</title>
    <script type="module" src="/js/index.min.js" defer></script>
    <link rel="stylesheet" href="/css/index.min.css">
</head>
<body>
    <!-- Header -->
    <header>
        <div class="header-title">
            <i class="fa-solid fa-graduation-cap"></i>
            <h1>Gerador de Atestado de Docência</h1>
        </div>
        <div class="header-subtitle">
            Instituto Federal Sul-Rio-Grandense - Campus Charqueadas
        </div>
    </header>

    <!-- Main Content -->
    <main>
        Hello World
    </main>
    {{{template-vars}}}
</body>
</html>