@import "common.less";


header {
    background: linear-gradient(135deg, rgba(var(--color-primary), 1), rgba(var(--color-primary), 0.8));
    color: rgba(var(--color-background), 1);
    padding: 25px 30px;
    width: 100%;
    box-shadow: 0 4px 10px rgba(var(--color-text), 0.5);

    .header-title {
        display: flex;
        align-items: center;
        margin-bottom: 10px;

        i {
            font-size: 2rem;
            margin-right: 15px;
        }
    }
}